<div>

  <table>
    <thead>
      <tr appPersona>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Es mayor de edad?</th>
        <th>Documento</th>
        <th>Sueldo</th>
        <th>Porcentaje</th>
        <th>Sueldo Total</th>
        <th>País</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let persona of listadoPersonas">
        <td>{{persona.id}}</td>
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <td>{{persona.edad}}</td>
        <td>{{persona.edad | mayoriaEdad:18}}</td>
        <td>{{persona.documento}}</td>
        <td>{{persona.sueldo}}</td>
        <td>{{persona.porcentaje}}</td>
        <td>{{persona.sueldo_total}}</td>
        <td>{{persona.pais?.nombre}}</td>
        <td>
          <app-persona-baja [persona]="persona" (onEliminar)="actualizarListado()"></app-persona-baja>
          <button [routerLink]="['/modificar/' + persona.id]">Modificar Persona</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button (click)="inicio()">Inicio</button>
    <button (click)="nuevaPersona()">Nueva Persona</button>
  </div>
</div>
